<div class="container">
  <div class="row">
    <app-gamecontrol
      (evenCounter)="newEvenCount=$event"
      (oddCounter)="newOddCount=$event"
      (isOver)="gameOver=$event">
    </app-gamecontrol>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <app-even [evenData]="newEvenCount"></app-even>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <app-odd [oddData]="newOddCount"></app-odd>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center font-weight-bold">
        <h3 class="on" [ngClass]="{'over': gameOver === 'clicked'}">Stopped Game!</h3>
    </div>
  </div>
</div>